/* Dashboard.css */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summary-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.summary {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.summary h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.task-list ul,
.reminders ul {
    list-style-type: none;
    padding: 0;
}

.task-list li,
.reminders li {
    margin-bottom: 5px;
}
